In [1]:
import numpy as np
import pandas as pd

# SEATWORK: Problem 1

A group of researchers conducted a survey on the ages of people in the Town of Naga. They did this by simply talking to passersby on Naga Plaza Rizal. From their simple survey they gathered:

Age: [13, 15, 16, 16, 19, 20, 21, 22, 25, 25, 25, 25, 30, 33, 35, 35, 35, 35, 36, 45, 46, 52, 35, 38, 30]

(a) Use the binning method to smooth the above data. Assume that the bin size is 5

In [2]:
age = np.array([13, 15, 16, 16, 19, 20, 21, 22, 25, 25, 25, 25, 30, 33, 35, 35, 35, 35, 36, 45, 46, 52, 35, 38, 30])
age = np.sort(age)

In [3]:
bin_sz = 5

In [4]:
def equal_frequency_bins(data, bin_sz):
    bins = len(data) / bin_sz
    data = np.split(data, bins)
    row = len(data)
    
    for i in range(row):
        print("Bin " + str(i+1) + ": " + str(data[i]))

In [5]:
def bin_means(data, bin_sz):
    bins = len(data) / bin_sz
    data = np.split(data, bins)
    row = len(data)
    
    for i in range(row):
        ave = data[i].sum() / bin_sz
        print("Bin " + str(i+1) + ": ", end='')
        print(np.full(bin_sz, round(ave)))

In [6]:
def bin_boundary(data, bin_sz):
    bins = len(data) / bin_sz
    data = np.split(data, bins)
    row = len(data)
    
    for i in range(row):
        minn = data[i][0]
        maxx = data[i][bin_sz - 1]
        print("Bin " + str(i+1) + ": ", end='')
        ls = []
        for j in range(bin_sz):
            x = data[i][j]
            if (x - minn <= maxx - x):
                x = minn
            else:
                x = maxx
            ls = ls + [x]
        print(np.array(ls))

### Answer:

The sorted age array is:

In [7]:
age

array([13, 15, 16, 16, 19, 20, 21, 22, 25, 25, 25, 25, 30, 30, 33, 35, 35,
       35, 35, 35, 36, 38, 45, 46, 52])

- Equal frequency bins

In [8]:
equal_frequency_bins(age, bin_sz)

Bin 1: [13 15 16 16 19]
Bin 2: [20 21 22 25 25]
Bin 3: [25 25 30 30 33]
Bin 4: [35 35 35 35 35]
Bin 5: [36 38 45 46 52]

- Bin means

In [9]:
bin_means(age, bin_sz)

Bin 1: [16 16 16 16 16]
Bin 2: [23 23 23 23 23]
Bin 3: [29 29 29 29 29]
Bin 4: [35 35 35 35 35]
Bin 5: [43 43 43 43 43]

- Bin boundary

In [10]:
bin_boundary(age, bin_sz)

Bin 1: [13 13 13 13 19]
Bin 2: [20 20 20 25 25]
Bin 3: [25 25 33 33 33]
Bin 4: [35 35 35 35 35]
Bin 5: [36 36 52 52 52]

---

# SEATWORK: Problem 2

Suppose a group of 12 sales price records has been sorted as follows:

Sales = [5, 10, 11, 13, 15, 35, 50, 55, 72, 92, 204, 215]

(a) Partition them into three bins and smooth the data into the following:
- Smoothing by Equal Frequency Bins
- Smoothing by bin means
- Smoothing by bin boundary

In [11]:
sales = np.array([5, 10, 11, 13, 15, 35, 50, 55, 72, 92, 204, 215])

In [12]:
sales = np.sort(sales)

In [13]:
bins = 3

We have to modify the defined functions from problem 1 because it does not cater to a specified number of bins.

In [14]:
def equal_frequency_bins(data, bins):
    data = np.split(data, bins)
    row = len(data)
    
    for i in range(row):
        print("Bin " + str(i+1) + ": " + str(data[i]))

In [15]:
def bin_means(data, bins):
    bin_sz = len(data) / bins
    data = np.split(data, bins)
    row = len(data)
    
    for i in range(row):
        ave = data[i].sum() / bin_sz
        print("Bin " + str(i+1) + ": ", end='')
        print(np.full(int(bin_sz), round(ave)))

In [16]:
def bin_boundary(data, bins):
    bin_sz = int(len(data) / bins)
    data = np.split(data, bins)
    row = len(data)
    
    for i in range(row):
        minn = data[i][0]
        maxx = data[i][bin_sz - 1]
        print("Bin " + str(i+1) + ": ", end='')
        ls = []
        for j in range(bin_sz):
            x = data[i][j]
            if (x - minn <= maxx - x):
                x = minn
            else:
                x = maxx
            ls = ls + [x]
        print(np.array(ls))

### Answer

The sorted sales array is:

In [17]:
sales

array([  5,  10,  11,  13,  15,  35,  50,  55,  72,  92, 204, 215])

- Equal frequency bins

In [18]:
equal_frequency_bins(sales, bins)

Bin 1: [ 5 10 11 13]
Bin 2: [15 35 50 55]
Bin 3: [ 72  92 204 215]

- Bin means

In [19]:
bin_means(sales, bins)

Bin 1: [10 10 10 10]
Bin 2: [39 39 39 39]
Bin 3: [146 146 146 146]

- Bin boundary

In [20]:
bin_boundary(sales, bins)

Bin 1: [ 5 13 13 13]
Bin 2: [15 15 55 55]
Bin 3: [ 72  72 215 215]

---

# SEATWORK: Problem 3

Use the methods below to normalize the following group of data:

[50, 100, 150, 200, 250]

- (a) min-max normalization 
- (b) z-score normalization
- (c) z-score normalization using the mean absolute deviation instead of
standard deviation

In [21]:
data = [50, 100, 150, 200, 250]

In [22]:
def min_max_normalization(data):
    n = len(data)
    minn = data[0]
    maxx = data[n-1]

    maxx_min = maxx - minn
    norm_data = np.full(n, 0.0)
    
    for i in range(n):
        norm_data[i] = (data[i] - minn) / maxx_min
    
    return norm_data

In [23]:
def z_score_normalization(data):
    import math
    n = len(data)
    mean = np.array(data).sum() / n

    sd = 0.0
    for i in range(n):
        sd = sd + (data[i] - mean) ** 2
    sd = math.sqrt(sd / n)

    z_data = np.full(n, 0.0)
    
    for i in range(n):
        z_data[i] = (data[i] - mean) / sd
    
    return z_data

In [24]:
def mean_abs_deviation(data):
    n = len(data)
    mean = np.array(data).sum() / n

    mean_abs = 0.0
    for i in range(n):
        mean_abs = mean_abs + abs(data[i] - mean)
    mean_abs = mean_abs / n

    mean_data = np.full(n, 0.0)
    
    for i in range(n):
        mean_data[i] = (data[i] - mean) / mean_abs
    
    return mean_data

In [25]:
columns = ['Data', 'Min-max normalization', 'Z-score normalization', 'Mean absolute deviation']
combined = np.full( (len(data), len(columns)), 0.0 )

combined[:, 0] = data
combined[:, 1] = min_max_normalization(data)
combined[:, 2] = z_score_normalization(data)
combined[:, 3] = mean_abs_deviation(data)
    
ans = pd.DataFrame(combined, columns=columns)

### Answer:

In [26]:
ans

,Data,Min-max normalization,Z-score normalization,Mean absolute deviation
0,50.0,0.00,-1.414214,-1.666667
1,100.0,0.25,-0.707107,-0.833333
2,150.0,0.50,0.000000,0.000000
3,200.0,0.75,0.707107,0.833333
4,250.0,1.00,1.414214,1.666667

---

# SEATWORK: Problem 4

Use the methods below to normalize the following group of data:

[500, 600, 700, 900, 1000]

- (a) min-max normalization 
- (b) z-score normalization
- (c) z-score normalization using the mean absolute deviation instead of
standard deviation

In [27]:
data = [500, 600, 700, 900, 1000]

We can use the defined functions from problem 3 to solve problem 4

In [28]:
columns = ['Data', 'Min-max normalization', 'Z-score normalization', 'Mean absolute deviation']
combined = np.full( (len(data), len(columns)), 0.0 )

combined[:, 0] = data
combined[:, 1] = min_max_normalization(data)
combined[:, 2] = z_score_normalization(data)
combined[:, 3] = mean_abs_deviation(data)
    
ans = pd.DataFrame(combined, columns=columns)

### Answer:

In [29]:
ans

,Data,Min-max normalization,Z-score normalization,Mean absolute deviation
0,500.0,0.0,-1.293993,-1.428571
1,600.0,0.2,-0.754829,-0.833333
2,700.0,0.4,-0.215666,-0.238095
3,900.0,0.8,0.862662,0.952381
4,1000.0,1.0,1.401826,1.547619

---

# SEATWORK: Problem 5

Using the data for age given in Problem 1, answer the following:

- (a) Use min-max normalization to transform the value 35 for age onto the range [0.0, 1.0]. 
- (b) Use z-score normalization to transform the value 35 for age, where the standard deviation of age is 12.94 years.

In [30]:
data = np.array([13, 15, 16, 16, 19, 20, 21, 22, 25, 25, 25, 25, 30, 33, 35, 35, 35, 35, 36, 45, 46, 52, 35, 38, 30])
data = np.sort(age)

In [31]:
def z_score_normalization_wval(data, sd):
    n = len(data)
    mean = np.array(data).sum() / n

    z_data = np.full(n, 0.0)
    
    for i in range(n):
        z_data[i] = (data[i] - mean) / sd
    
    return z_data

In [32]:
columns = ['Data', 'Min-max normalization', 'Z-score normalization']
combined = np.full( (len(data), len(columns)), 0.0 )

combined[:, 0] = data
combined[:, 1] = min_max_normalization(data)
combined[:, 2] = z_score_normalization_wval(data, 12.94)
    
ans = pd.DataFrame(combined, columns=columns)

### Answer:

In [33]:
ans[ans['Data'] == 35]

    Data  Min-max normalization  Z-score normalization
15  35.0               0.564103               0.457496
16  35.0               0.564103               0.457496
17  35.0               0.564103               0.457496
18  35.0               0.564103               0.457496
19  35.0               0.564103               0.457496

---

# SEATWORK: Problem 6

Using Linear Regression by Least Square, obtain the following from the given sample data:

- Use the method of Least Squares to find the equation for the predicting weight given the age.
- Predict the weight of a person of age 36.

In [34]:
x = [25,30,40,35,22,28,45,33,27,38]
y = [55,70,75,80,60,50,85,68,72,77]

In [35]:
def least_sq_linear_regression(x, y, feature):
    n = len(x)
    x_mean = np.array(x).mean()
    y_mean = np.array(y).mean()

    b_numerator = 0.0
    b_denom = 0.0

    for i in range(n):
        b_numerator = b_numerator + (x[i] - x_mean) * (y[i] - y_mean)
        b_denom = b_denom + (x[i] - x_mean) ** 2
 
    b = b_numerator / b_denom
    a = y_mean - b * x_mean

    return a + b * feature

### Answer:

Using the formula derived from the given dataset, the weight of a person with age 36 is:

In [36]:
least_sq_linear_regression(x, y, 36).round(3)

73.764

---

# SEATWORK: Problem 7

Using Linear Regression by Least Square, obtain the following from the given sample data:

- Use the method of Least Squares to find the equation for the predicting final grade given the midterm score.
- Predict the final grade of a student who had a midterm score of 95.

In [37]:
x = [ 70, 80, 85, 90, 60, 75, 85, 50 ]
y = [ 82, 88, 92, 96, 68, 78, 90, 58 ]

### Answer:

The student with a midterm score of 95 is predicted to have a final grade of 100.652.

In [38]:
least_sq_linear_regression(x, y, 95).round(3)

100.652